*,html,body{
  margin: 0;
  padding: 0;
  text-align: center;
}

.div{
  cursor: pointer;
  transition: .25s;
  background-color: antiquewhite;
  position: relative;
}

input{
  text-align: left;
}

/* googleのバスワード入力画面っぽいものを作ってみた */

.pass_div{
  margin-top: 30px;
  position: relative;
}

.pass_span{
  margin-left: 5px;
  padding: 0 5px;
  font-size: 5px;
  background-color: #ffffff;
  position: absolute;
  top: -35%;
}

.pass_input{
 height: 20px;
 border-radius: 5px;
}

